# EDA and Data cleaning - A3Data challenge

- Exploratory data analysis
- Data-cleaning
- Pipeline to automate Data-cleaning
    - ETL books_data
    - ETL books_rating

In [1]:
import pandas as pd

In [ ]:
def etl_books_data(file_path):
    data = pd.read_csv(file_path)
    print(f'Descriprion:\n{data.describe()}')
    print(f'\n\nMissing values: \n{data.isnull().sum()}')


    data = data.drop(['previewLink', 'infoLink'], axis=1)
    data = data.drop(['image'], axis=1)

    data.columns = data.columns.str.lower()

    data = data.fillna({
    'description': 'Description not available',
    'authors': "['Author not informed or not available']",
    'image': 'Image not available for this book',
    'previewlink': 'Preview link not available',
    'publisher':'Publisher not informed',
    'publisheddate': 'Date not informed',
    'infoLink': 'Info link not available',
    'categories': "['Category not informed']",
    'title': 'Title not informed for this book',
    'ratingscount': data['ratingscount'].median(),
})
    
    print(f'\n\nMissing Values now: \n{data.isnull().sum()}')

    # Show only the year of published date
    data['publisheddate'] = data['publisheddate'].str[:4]


    # remove [] from categories and author
    data['categories'] = data['categories'].str.replace('[', ' ')
    data['categories'] = data['categories'].str.replace(']', ' ')
    data['authors'] = data['authors'].str.replace('[', ' ')
    data['authors'] = data['authors'].str.replace(']', ' ')
    data['authors'] = data['authors'].str.replace("'", ' ')
    data['categories'] = data['categories'].str.replace("'", ' ')
    data['categories'] = data['categories'].str.replace(",", ' ')
    

    

    data = data.rename(columns={
    'categories': 'book_gender'
})
    # All columns to lowercase
    data.columns = data.columns.str.lower()
    
    #save to data_cleaned folder

    new_data = data.to_csv('data_cleaned/books_data_cleaned.csv', index=False)

    return new_data

In [2]:
def etl_books_rating(file_path):
    data = pd.read_csv(file_path)
    print(f'Descriprion:\n{data.describe()}')
    print(f'\n\nMissing values: \n{data.isnull().sum()}')

    data = data.drop(['Id'], axis=1)
    data = data.drop(['User_id'], axis=1)

    data.columns = data.columns.str.lower()
    data = data.rename(columns={
        'text': 'review',
        'score': 'rating',
    })

    data = data.fillna({
        'price': data['price'].median(),
        'rating': data['rating'].median(),
        'title': 'Title not informed',
        'profilename': 'Profile name not informed',
        'summary': 'Summary not informed for this book',
        'review': 'Review not informed',
    })

    data['rating'] = data['rating'].round(2)

    new_data = data.to_csv('data_cleaned/books_rating_cleaned.csv', index=False)    

    return new_data

In [3]:
etl_books_rating('Books_rating.csv')

Descriprion:
               Price         score          time
count  481171.000000  3.000000e+06  3.000000e+06
mean       21.762656  4.215289e+00  1.132307e+09
std        26.206541  1.203054e+00  1.493202e+08
min         1.000000  1.000000e+00 -1.000000e+00
25%        10.780000  4.000000e+00  9.999072e+08
50%        14.930000  5.000000e+00  1.128298e+09
75%        23.950000  5.000000e+00  1.269130e+09
max       995.000000  5.000000e+00  1.362355e+09


Missing values:
Id                   0
Title              208
Price          2518829
User_id         561787
profileName     561905
score                0
time                 0
summary            407
text                 8
dtype: int64

In [ ]:
# generate a function to load and transform the rating data

def etl_books_rating(file_path):
    data = pd.read_csv(file_path)
    print(f'Descriprion:\n{data.describe()}')
    print(f'\n\nMissing values: \n{data.isnull().sum()}')

    data = data.drop(['Id'], axis=1)
    data = data.drop(['User_id'], axis=1)

    data.columns = data.columns.str.lower()

    data = data.fillna({
    'title': 'Title not informed',
    'price': data['price'].median(),
    'profilename': 'profilename not informed',
    'summary': 'Description not available',
    'text': 'Review not available',
})
    
    data = data.rename(columns={
    'text': 'review'
})
    
    data['score'] = data['score'].round(2)

    print(f'\n\nMissing Values now: \n{data.isnull().sum()}')

    new_data = data.to_csv('data_cleaned/books_rating_cleaned.csv', index=False)

    return new_data

Descriprion:
               Price         score          time
count  481171.000000  3.000000e+06  3.000000e+06
mean       21.762656  4.215289e+00  1.132307e+09
std        26.206541  1.203054e+00  1.493202e+08
min         1.000000  1.000000e+00 -1.000000e+00
25%        10.780000  4.000000e+00  9.999072e+08
50%        14.930000  5.000000e+00  1.128298e+09
75%        23.950000  5.000000e+00  1.269130e+09
max       995.000000  5.000000e+00  1.362355e+09


Missing values:
Id                   0
Title              208
Price          2518829
User_id         561787
profileName     561905
score                0
time                 0
summary            407
text                 8
dtype: int64


Missing Values now:
title          0
price          0
profilename    0
score          0
time           0
summary        0
review         0
dtype: int64

In [4]:
df = pd.read_csv('data_cleaned/books_rating_cleaned.csv')

df.head()

,title,price,profilename,rating,time,summary,review
0,Its Only Art If Its Well Hung!,14.93,"Jim of Oz ""jim-of-oz""",4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,Dr. Seuss: American Icon,14.93,Kevin Killian,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,Dr. Seuss: American Icon,14.93,John Granger,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,Dr. Seuss: American Icon,14.93,"Roy E. Perry ""amateur philosopher""",4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,Dr. Seuss: American Icon,14.93,"D. H. Richards ""ninthwavestore""",4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [5]:
df.isna().sum()

title          0
price          0
profilename    0
rating         0
time           0
summary        0
review         0
dtype: int64